<sip-page>
	<sip-page-header navigator="申请实例">
		<ng-template #title>申请实例</ng-template>
		<ng-template #desc>
			一个虚拟机镜像启动之后生成的一个正在运行的系统，它有您期望的硬件配置、操作系统和网络配置。实例也称云服务器、云主机。
		</ng-template>
	</sip-page-header>

	<sip-page-body>
		<sip-card [bordered]="false" [noHovering]="true">
			<ng-template #body>
				<nz-steps [(nzCurrent)]="current">
					<nz-step [nzTitle]="'镜像'"></nz-step>
					<nz-step [nzTitle]="'网络/安全'"></nz-step>
					<nz-step [nzTitle]="'配置'"></nz-step>
					<nz-step [nzTitle]="'基本信息'"></nz-step>
				</nz-steps>
				<div class="steps-content mt-lg pt-md">
					<div *ngIf="current == 0">
						<form nz-form action="" onsubmit="return false">
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="project" nz-form-item-required>项目</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<nz-select [(ngModel)]="project" name="project" [nzAllowClear]="true">
										<nz-option *ngFor="let item of projectoptions" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="item.disabled">
										</nz-option>
									</nz-select>
								</div>
							</div>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="area" nz-form-item-required>区域</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<nz-radio-group [(ngModel)]="area" name="area">
										<label nz-radio-button [nzValue]="'A'">
											<span>开发云</span>
										</label>
										<label nz-radio-button [nzValue]="'B'" [nzDisabled]="true">
											<span>aws</span>
										</label>
										<label nz-radio-button [nzValue]="'C'">
											<span>65.12</span>
										</label>
										<label nz-radio-button [nzValue]="'D'">
											<span>Vmware</span>
										</label>
									</nz-radio-group>
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="adminimages" nz-form-item-required>镜像</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<nz-radio-group [(ngModel)]="adminimages" name="adminimages">
										<label nz-radio-button [nzValue]="'pubimages'">
											<span>公共镜像</span>
										</label>
										<label nz-radio-button [nzValue]="'images'">
											<span>自定义镜像</span>
										</label>
									</nz-radio-group>

									<div class="ant-radio-group-icon">
										<span class="text-grey-5">分类：</span><nz-radio-group [(ngModel)]="system" name="system">
											<label nz-radio-button [nzValue]="'windows'">
												<nz-tooltip [nzTitle]="'windows'">
													<span nz-tooltip><i class="anticon anticon-windows"></i></span>
												</nz-tooltip>
											</label>
											<label nz-radio-button [nzValue]="'linux'">
												<nz-tooltip [nzTitle]="'linux'">
													<span nz-tooltip><i class="fa fa-linux"></i></span>
												</nz-tooltip>
											</label>
											<label nz-radio-button [nzValue]="'linux01'">
												<nz-tooltip [nzTitle]="'linux01'">
													<span nz-tooltip><i class="fa fa-linux"></i></span>
												</nz-tooltip>
											</label>
										</nz-radio-group>
									</div>
									<ul class="checklist">
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
										<li><i class="anticon anticon-windows mr-sm"></i>windows 2008 agent   <span>80G</span></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
					<div *ngIf="current == 1">
						<form nz-form>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>网络类型</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<nz-radio-group [(ngModel)]="network" name="network">
										<label nz-radio-button [nzValue]="'A'">
											<span>基础网络</span>
										</label>
										<label nz-radio-button [nzValue]="'B'">
											<span>自定义网络</span>
										</label>
									</nz-radio-group>
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="area" nz-form-item-required>可用区域</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<nz-radio-group [(ngModel)]="area" name="area">
										<label nz-radio-button [nzValue]="'A'">
											<span>测试集群</span>
										</label>
										<label nz-radio-button [nzValue]="'B'">
											<span>集群01</span>
										</label>
										<label nz-radio-button [nzValue]="'C'" [nzDisabled]="true">
											<span>text集群</span>
										</label>
									</nz-radio-group>
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="area" nz-form-item-required>公网带宽</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<label nz-checkbox name="netcheck" [(ngModel)]="netchecked">
										<span>连接公网</span>
									</label>
									<nz-alert *ngIf="netchecked == false" [nzType]="'info'" [nzMessage]="'不连接公网将只分配云内网IP，访问公网需手工绑定弹性IP'" [nzShowIcon]="true"></nz-alert>
									
									<div nz-row [nzGutter]="8" *ngIf="netchecked == true">
										<div nz-col [nzSpan]="6">
											<nz-select [(ngModel)]="LineNetCheck" name="LineNetCheck" [nzAllowClear]="true" >
												<nz-option 
													*ngFor="let item of LineNetCheckopt" 
													[nzLabel]="item.label"
													[nzValue]="item.value"
													[nzDisabled]="item.disabled">
												</nz-option>
											</nz-select>
										</div>
										<div nz-col [nzSpan]="12">
											<nz-slider name="netslider" [nzMin]="0" [nzMax]="100" [nzStep]="1" [(ngModel)]="netslider01"></nz-slider>
										</div>
										<div nz-col [nzSpan]="6">
											<nz-input name="ste" style="width: 70px;"   [(ngModel)]="netslider01" [nzDisabled] = "true">
												<ng-template #addOnAfter>M</ng-template>
											</nz-input>
										</div>
									</div>
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="area" nz-form-item-required>安全组</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<div nz-row [nzGutter]="8">
										<div nz-col [nzSpan]="16">
											<nz-select 
												[(ngModel)]="SecurityGroup" 
												name="SecurityGroup" 
												[nzShowSearch]="true"
												[nzPlaceHolder]="'选择已用安全组'"
												[nzNotFoundContent]="'无法找到安全组'"
												[nzAllowClear]="true" >
												<nz-option
													*ngFor="let item of SecurityGroupData"
													[nzLabel]="item.label"
													[nzValue]="item.value"
													[nzDisabled]="item.disabled">
												</nz-option>
											</nz-select>
										</div>

										<div nz-col [nzSpan]="8">
											<button nz-button [nzType]="'primary'">新建安全组</button>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
					<div *ngIf="current == 2">
						<form nz-form>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>配置</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-select [(ngModel)]="cpuconfig" name="cpuconfig" [nzShowSearch]="'true'" [nzPlaceHolder]="'请选择一个配置'" [nzAllowClear]="true" >
										<nz-option 
											*ngFor="let item of cpuconfigDate" 
											[nzLabel]="item.label"
											[nzValue]="item.value"
											[nzDisabled]="item.disabled">
										</nz-option>
									</nz-select>
									
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>系统盘</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<div nz-row [nzGutter]="8">
										<div nz-col [nzSpan]="6">
											<nz-input [(ngModel)]="systemnum" name="systemnum" [nzDisabled]="'true'" ></nz-input>
										</div>
										<div nz-col [nzSpan]="12">
											<nz-select [(ngModel)]="systemname" name="systemname" >
												<nz-option 
													*ngFor="let item of systemnameData" 
													[nzLabel]="item.label"
													[nzValue]="item.value"
													[nzDisabled]="item.disabled">
												</nz-option>
											</nz-select>
											
										</div>
										<div nz-col [nzSpan]="6">
											<nz-input-group [nzCompact]="true" [nzSize]="'large'">
												<nz-input-number [(ngModel)]="systemvalue" name="systemvalue" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>GB
											</nz-input-group>
											
										</div>
									</div>
									
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>数据盘</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
									<div nz-row [nzGutter]="8" class="mb-sm">
										<div nz-col [nzSpan]="6">
											<nz-input [(ngModel)]="datanum" name="datanum"></nz-input>
										</div>
										<div nz-col [nzSpan]="12">
											<nz-select [(ngModel)]="dataname" name="dataname" >
												<nz-option 
													*ngFor="let item of systemnameData" 
													[nzLabel]="item.label"
													[nzValue]="item.value"
													[nzDisabled]="item.disabled">
												</nz-option>
											</nz-select>
											
										</div>
										<div nz-col [nzSpan]="6">
											<nz-tooltip [nzTitle]="'请输入1~100'">
												<nz-input-number nz-tooltip [(ngModel)]="datavalue" name="datavalue" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>GB
											</nz-tooltip>
										</div>
									</div>
									<button nz-button [nzType]="'primary'" [nzGhost]="true"><i class="fa fa-plus mr-sm"></i>添加数据盘</button>
								</div>
							</div>					
						</form>
					</div>
					<div *ngIf="current == 3">
						<form nz-form>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>实例名称</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-input [(ngModel)]="shiliname" name="shiliname" [nzPlaceHolder]="'请输入实例名称'"></nz-input>
									<label nz-checkbox [(ngModel)]="jisuanshili" name="jisuanshili">
										<span>作为计算机名（只能输入数字、字母和'-'，并以字母和数字开头和结尾，最大长度为15）</span>
									</label>
								</div>
							</div>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>数量</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-input [nzType]="'number'" [(ngModel)]="shilinum" name="shilinum">
										<ng-template #addOnAfter>个</ng-template>
									</nz-input>
								</div>
							</div>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>有效期</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-radio-group [(ngModel)]="temnum" name="temnum">
										<label nz-radio-button [nzValue]="'A'">
											<span>一周</span>
										</label>
										<label nz-radio-button [nzValue]="'B'">
											<span>一月</span>
										</label>
										<label nz-radio-button [nzValue]="'C'">
											<span>半年</span>
										</label>
										<label nz-radio-button [nzValue]="'D'">
											<span>一年</span>
										</label>
									</nz-radio-group>
								</div>
							</div>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>用途</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-input [nzType]="'textarea'" [(ngModel)]="purpose" name="purpose"></nz-input>
								</div>
							</div>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network" nz-form-item-required>销毁设置</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-radio-group [(ngModel)]="Destroy" name="Destroy">
										<label nz-radio [nzValue]="'A'">
											<span>允许</span>
										</label>
										<label nz-radio [nzValue]="'B'">
											<span>禁止</span>
										</label>
									</nz-radio-group>
								</div>
							</div>

							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network">账号</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									Administrator
								</div>
							</div>
							<div nz-form-item nz-row>
								<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
									<label for="network">密码</label>
								</div>
								<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
									<nz-radio-group [(ngModel)]="Password" name="PasswordNAME" (click)="_password(Password)">
										<label nz-radio-button [nzValue]="'A'">
											<span>秘钥</span>
										</label>
										<label nz-radio-button [nzValue]="'B'">
											<span>密码</span>
										</label>
									</nz-radio-group>

									<div nz-row [nzGutter]="8" *ngIf="Password == 'B'" class="mt-sm">
										<div nz-col [nzSpan]="4">
											<nz-select 
												[(ngModel)]="passnuj" 
												name="passnuj" 
												[nzPlaceHolder]="''" >
												<nz-option
													*ngFor="let item of passnujData"
													[nzLabel]="item.label"
													[nzValue]="item.value"
													[nzDisabled]="item.disabled">
												</nz-option>
											</nz-select>
										</div>
										<div nz-col [nzSpan]="20">
											<nz-input *ngIf="passnuj =='yun'" [(ngModel)]="passinput" name="passinput" [nzPlaceHolder]="'请输入密码'" ></nz-input>
											<nz-input *ngIf="passnuj =='none'" [(ngModel)]="passinput" name="passinput" [nzPlaceHolder]="'******'" [nzDisabled]="isDisabled"></nz-input>
										</div>
									</div>

									<div nz-row [nzGutter]="8" *ngIf="Password == 'A'" class="mt-sm">
										<div nz-col [nzSpan]="16">
											<nz-select 
												[(ngModel)]="SecretKey" 
												name="SecretKey" 
												[nzShowSearch]="true"
												[nzPlaceHolder]="'选择秘钥'"
												[nzNotFoundContent]="'无法找到秘钥'"
												[nzAllowClear]="true" >
												<nz-option
													*ngFor="let item of SecretKeyData"
													[nzLabel]="item.label"
													[nzValue]="item.value"
													[nzDisabled]="item.disabled">
												</nz-option>
											</nz-select>
										</div>

										<div nz-col [nzSpan]="8">
											<button nz-button [nzType]="'primary'" (click)="showModal()" >新建秘钥</button>
										</div>
									</div>
								</div>
							</div>		
						</form>
					</div>
				</div>

				<div class="steps-action mt-lg text-center">
					<button nz-button [nzType]="'default'" class="mr-sm" (click)="pre()" *ngIf="current > 0">
						<span>上一步</span>
					</button>
					<button nz-button [nzType]="'primary'" class="mr-sm" (click)="next()" *ngIf="current < 3">
						<span>下一步</span>
					</button>
					<button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 3">
						<span>提交</span>
					</button>
				</div>
			</ng-template>

			<nz-modal [nzVisible]="isVisible" [nzWidth]="520" [nzMaskClosable]="false" [nzTitle]="'新建秘钥'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
				<ng-template #modalContent>
					<form nz-form>
						<div nz-form-item nz-row>
							<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
								<label for="network" nz-form-item-required>区域</label>
							</div>
							<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
								<nz-input [(ngModel)]="shiliname" name="shiliname" [nzPlaceHolder]="'开发云'" [nzDisabled]="true" ></nz-input>
							</div>
						</div>
						<div nz-form-item nz-row>
							<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
								<label for="network" nz-form-item-required>秘钥名称</label>
							</div>
							<div nz-form-control nz-col [nzSm]="14" [nzXs]="24">							
								<nz-input [(ngModel)]="shiliname" name="shiliname" [nzPlaceHolder]="'请输入名称'" ></nz-input>
								<div nz-form-explain>密钥名称只能为字母，下划线(_)或数字</div>
							</div>
						</div>
					</form>
				</ng-template>
			</nz-modal>
			
		</sip-card>
	</sip-page-body>
</sip-page>