<sip-page>
	<sip-page-header navigator="实例列表">
		<ng-template #title>实例列表</ng-template>
		<ng-template #desc>
			一个虚拟机镜像启动之后生成的一个正在运行的系统，它有您期望的硬件配置、操作系统和网络配置。实例也称云服务器、云主机。
			<nz-tooltip [nzTitle]="'了解更多实例介绍'">
				<a nz-tooltip [sipRouterLink]="['/ui-demo/list']">更多…</a>
			</nz-tooltip>
		</ng-template>
	</sip-page-header>

	<sip-page-body>
		<sip-card>
			<ng-template #body>
				<!-- 操作栏 -->
				<sip-page-toolbar>
					<button nz-button (click)="refresh()" [nzType]="'default'" class="mr-sm">
						<i class="anticon anticon-reload"></i>
					</button>
					<button nz-button (click)="add()" [nzType]="'primary'" class="mr-sm">
						<i class="anticon anticon-plus"></i><span>新建</span>
					</button>
					<button nz-button (click)="startUp()" sipAccess="startUp" [nzType]="'default'" class="mr-sm">
						<i class="anticon anticon-caret-right"></i><span>开机</span>
					</button>
					<button nz-button [disabled]="disabled" [nzType]="'default'" class="mr-sm">
						<i class="anticon anticon-pause-circle"></i><span>关机</span>
					</button>
					<nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomLeft'" class="mr-sm">
						<button nz-button nz-dropdown ><i class="fa fa-ellipsis-v mr-sm"></i><span>更多</span> <i class="anticon anticon-down"></i></button>
						<ul nz-menu>
							<li nz-menu-item>重启</li>
							<li nz-menu-item><a [sipRouterLink]>修改IP绑定</a></li>
							<li nz-menu-item><a [sipRouterLink]>挂接存储</a></li>
							<li nz-menu-item><a [sipRouterLink]>重装系统</a></li>
							<li nz-menu-item><a [sipRouterLink]>安装软件</a></li>
							<li nz-menu-item><a [sipRouterLink]>销毁</a></li>
							<li nz-menu-divider></li>
							<li nz-menu-item><a [sipRouterLink]>获取密码</a></li>
							<li nz-menu-item><a [sipRouterLink]>重置密码</a></li>
							<li nz-menu-divider></li>
							<li nz-menu-item><a [sipRouterLink]>制作镜像</a></li>
							<li nz-menu-item><a [sipRouterLink]>实例备份</a></li>
							<li nz-menu-divider></li>
							<li nz-submenu>
								<span title>更多</span>
								<ul>
									<li nz-menu-item><a [sipRouterLink]>迁移实例</a></li>
									<li nz-menu-item><a [sipRouterLink]>资源标签</a></li>
									<li nz-menu-item><a [sipRouterLink]>资源标签</a></li>
									<li nz-menu-item><a [sipRouterLink]>修改名称</a></li>
									<li nz-menu-item><a [sipRouterLink]>销毁保护</a></li>
									<li nz-menu-item><a [sipRouterLink]>资源移交</a></li>
								</ul>
							</li>
						</ul>
					</nz-dropdown>

					<nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'" class="mr-sm">
						<button nz-button nz-dropdown ><i class="anticon anticon-tag"></i><span>标签</span> <i class="anticon anticon-down"></i></button>
						<ul nz-menu>
							<li nz-submenu *ngFor="let item of TagDatas">
								<span title>{{item.name}}</span>
								<ul *ngIf="item.children">
									<li nz-menu-item><i class="fa fa-vine pr-sm"></i>所有值</li>
									<li nz-menu-item><i class="fa fa-vine pr-sm"></i>未设置标签</li>
									<li nz-menu-divider></li>
									<li nz-menu-item *ngFor="let i of item.children">
										<i class="fa fa-vine pr-sm"></i>{{i.name}}
									</li>
								</ul>
							</li>
						</ul>
						
					</nz-dropdown>

					<sip-searchConent [params]="searchContent"></sip-searchConent>
				</sip-page-toolbar>

				<!-- 正文 -->
				<sip-minitable [manager]="tableManager1">
					<sip-minicolumn name="Instance_Code" title="编号" width="120px">
						<ng-template #formatter let-row="row" let-column="column" let-data="data">
							{{row.data.Instance_Code}}
						</ng-template>
						<ng-template #editor let-row="row" let-column="column" let-data="data">
							<nz-input [(ngModel)]="row.data.Instance_Code"></nz-input>
						</ng-template>
					</sip-minicolumn>
					<sip-minicolumn name="Title" title="名称" [sortable]="true" sortOrder="desc">
						<ng-template #formatter let-row="row" let-column="column" let-data="data">
							<a [sipRouterLink]="['/sip/ui-demo/detail', {id:row.data.Instance_ID}]" >
								{{row.data.Title}}
							</a>
						</ng-template>
						<ng-template #editor let-row="row" let-column="column" let-data="data">
							<nz-input [(ngModel)]="row.data.Title"></nz-input>
						</ng-template>
					</sip-minicolumn>
					<sip-minicolumn name="Status" title="状态" [filterItems]="statusFilterItems" [filterCallback]="statusFilterCallback">
						<ng-template #formatter let-row="row" let-column="column" let-data="data">
							{{column.getFilterText(row.data.Status)}}
						</ng-template>
						<ng-template #editor let-row="row" let-column="column" let-data="data">
							<nz-input [(ngModel)]="row.data.Status"></nz-input>
						</ng-template>
					</sip-minicolumn>
					<sip-minicolumn name="REGION_NAME" title="区域" [sortable]="true">
					</sip-minicolumn>
					<sip-minicolumn name="Private_Ip_Address" title="IP" [sortable]="true">
					</sip-minicolumn>
					<sip-minicolumn name="Platform" title="系统/规格" [sortable]="true">
					</sip-minicolumn>
					<sip-minicolumn name="Creator_Name" title="创建人" [sortable]="true">
					</sip-minicolumn>
					<sip-minicolumn name="Create_Time" title="创建时间" [sortable]="true">
						<ng-template #formatter let-row="row" let-column="column" let-data="data">
							{{row.data.Create_Time | _date: 'YYYY年MM月DD日'}}
						</ng-template>
					</sip-minicolumn>
					<sip-minicolumn name="" title="Actions">
						<ng-template #formatter let-row="row" let-column="column" let-data="data">
							<a (click)="editCell([row.index], [0,1,2,3,4,5,6], !row.isEdit)">
								{{row.isEdit ? 'Save' : 'Edit'}}
							</a>
							<span nz-table-divider></span>
							<nz-popconfirm [nzTitle]="'Are you sure？'" [nzOkText]="'ok'" [nzCancelText]="'cancel'" (nzOnConfirm)="showMsg('has deleted')" (nzOnCancel)="showMsg('cancel delete')">
								<a nz-popconfirm>Delete</a>
							</nz-popconfirm>
						</ng-template>
					</sip-minicolumn>
				</sip-minitable>
			</ng-template>
		</sip-card>
	</sip-page-body>
</sip-page>